
.recipe-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    app-recipe-item {
        flex-basis: 70%;

        @media (max-width: 767px) {
            flex-basis: 90%;
        }
    }
}

.options {
    display: flex;
    gap: 0.25em;
    max-width: 90%;
    margin: 0 auto 5em;
    flex-wrap: wrap;

    .checkbox-item {
        padding: 0.25em;
        display: flex;
        align-items: center;

        input {
            margin-left: 0.25em;
        }

        label {
            padding: 0 1em;
            color: white;
        }
    }

}

