#container {
    position: relative;
  }
  #container canvas, #overlay {
    position: absolute;
  }
  
::ng-deep{
  .scandit-logo {
      display: none;
  }
  .scandit-camera-switcher {
      display: none;
  }
}