@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Nunito:ital,wght@0,300;1,300&display=swap');

html {
    font-size: 17px;
}

body {
    // padding-top: 80px;
    @apply bg-gray-50;
}

@layer base {

    * {
        @apply font-body;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold font-heading;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }
}

.center {
    &-x {
        left: 50%;
        transform: translateX(-50%);
    }

    &-y {
        top: 50%;
        transform: translateY(-50%);
    }

    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.button-primary {
    @apply rounded-full px-6 py-2 text-onPrimary bg-primary hover:bg-primary-dark transition-colors duration-300;
}

table.table {
    @apply w-full bg-white rounded-md shadow-sm;

    th, td {
        padding: 1rem 2rem;
        text-align: left;
    }

    th {
        @apply font-heading font-semibold
    }

    tr {
        &:not(:last-child) {
            border-bottom: 1px solid;
            @apply border-stroke;
        }

        &.hoverable {
            @apply hover:bg-gray-100 cursor-pointer;
        }
    }
}
