<app-nav-wrapper>
    <ng-lottie *ngIf="!inventory" [options]="animations.loading" width="200px" height="200px" containerClass="mx-auto">
    </ng-lottie>
    <ng-container *ngIf="inventory as i">
        <a class="mb-3 block text-primary" routerLink="/">Back to list</a>
        <div class="flex flex-row justify-between">
            <p class="flex items-center space-x-1">
                <i class="uil uil-box text-2xl text-primary"></i>
                <span>Inventory</span>
            </p>
            <div class="flex flex-row space-x-2">
                <a routerLink="/inventories/{{inventoryId}}/add"
                    class="bg-primary hover:bg-primary-dark text-onPrimary rounded-full relative w-10 h-10 ">
                    <i-feather name="plus" class="rounded-full absolute center"></i-feather>
                </a>
                <a routerLink="/inventories/{{inventoryId}}/remove"
                    class="bg-red-400 hover:bg-red-500 text-onPrimary rounded-full relative w-10 h-10 ">
                    <i-feather name="minus" class="rounded-full absolute center"></i-feather>
                </a>
            </div>
        </div>

        <h1>{{i.title}}</h1>

        <table class="table mt-4">
            <tr>
                <th>Product</th>
                <th>Qty</th>
            </tr>
            <tr class="hoverable" *ngFor="let item of i.items" (click)="click(item)">
                <td class="flex flex-row items-center space-x-3">
                    <img [src]="item.image || '/assets/placeholder.png'"
                        class="h-12 w-12 object-cover object-center rounded-md">
                    <div class="flex flex-col">
                        <span class="capitalize text-sm md:text-base">{{item.title}}</span>
                        <div class="flex md:items-center flex-col md:flex-row">
                            <ng-container *ngIf="item.expiredSoon">
                                <div class="text-red-500">
                                    &bull; <span class="text-xs">Expiring soon</span>
                                </div>
                                <div class="mx-2 mt-0.5 hidden md:block">
                                    &#8212;
                                </div>
                            </ng-container>
                            <span class="text-xs text-gray-500 mt-0.5">{{item.count}} purchase(s)</span>
                        </div>
                    </div>
                </td>
                <td class="text-sm md:text-base">{{item.quantity}}</td>
            </tr>
        </table>
        <a routerLink="/inventories/{{inventoryId}}/add" class="button-primary mt-6 inline-block m-2">Add new items</a>
        <a routerLink="/inventories/{{inventoryId}}/remove" class="button-primary mt-6 inline-block m-2">Remove
            items</a>
    </ng-container>
</app-nav-wrapper>
<app-item-detail [inventoryId]="inventoryId"></app-item-detail>
